@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/LibreFranklin-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/LibreFranklin-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Light.ttf);
    font-weight: 300;
}